.account-selection-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.full-width {
  width: 100%;
}

.name-col {
    width: 45%;
    border-bottom: 2px solid black;
    border-right: 1px dashed black;
}

/*
@media (min-width: 1000px) {
*/
.phone-col {
    width: 35%;
    border-bottom: 2px solid black;
    border-right: 1px dashed black;
    padding-left: 10px;
}

.total-col {
    width: 20%;
    border-bottom: 2px solid black;
    padding-left: 10px;
}

.acct-row span {
    display: inline-block;
}

.icon-but {
    border: 0px;
}

.icon-but:hover {
  background-color: lightgrey;
}

.icon-but:active {
  background-color: slategrey;
}