<form class="account-selection-form" [formGroup]="formGroup">
    <mat-form-field class="full-width">
      <input matInput
             placeholder="Account"
             aria-label="Account"
             required
             [matAutocomplete]="auto"
             formControlName="tranAccount"
             #acctAutoComplete="matAutocompleteTrigger"
             >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="acctToString">
        <mat-option *ngFor="let acct of filteredAccounts | async" [value]="acct" class="account-grid">
            <div class="acct-row" *ngIf="showGridDropdown">
              <span class="name-col">{{acct.FirstName}} {{acct.LastName}}</span>
              <!-- Stick an invisible character in here in case phone number is empty-->
              <span class="phone-col"> &zwnj; {{acct.PhoneNumber}} </span>
              <span class="total-col"> {{acct.Total | currency}} </span>
            </div>
            <div class="acct-row" *ngIf="!showGridDropdown">
              <span>{{acct.FirstName}} {{acct.LastName}} - {{acct.Total | currency}}</span>
            </div>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="acctCtrl.hasError('required')">
        Account is <strong>required</strong> before continuing
      </mat-error>

      <button mat-icon-button
          *ngIf="accountManager.isObjectAnAccount(this.acctCtrl.value)"
          mat-stroked-button
          matSuffix
          matTooltip="Clear Selection"
          color="primary"
          class="icon-but"
          (click)="clearSelection()">
          <mat-icon aria-hidden="false" aria-label="Clear Selection">clear</mat-icon>
      </button>
      <button mat-icon-button
          *ngIf="accountManager.isObjectAnAccount(this.acctCtrl.value)"
          (click)="openAccount()"
          mat-stroked-button
          matSuffix
          matTooltip="View Account in New Tab"
          color="primary"
          class="icon-but">
          <mat-icon aria-hidden="false" aria-label="View Account">launch</mat-icon>
      </button>
    </mat-form-field>
</form>
