/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@mixin mat-ripple-theme($theme) {
  .mat-ripple-element {
    background-color: rgba(255, 255, 255, .4);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-body {
  background-image: url("assets/boxed-bg.jpg");
  background-attachment:fixed;
}

.main-app-large-screen {
  width: 1200px;
  margin: auto;
}

.main-app-small-screen {
  width: 100%;
  margin: auto;
}

:root {
  --sidenav-text-color: lightgray;
  --sidenav-hover-text-color: ghostwhite;
  --sidenav-background: #222d32;
  --sidenav-hover-background: #465c66;
  --sidenav-header-background: steelblue;
  --sidenav-header-hover-background: #3b6080;
  --content-backdrop: #ecf0f5;
  --content-background: #fff;
  --sidenav-expanded-width: 150px;
  --sidenav-contracted-width: 55px;
}

.content-item {
  background-color: var(--content-background);
  margin: 15px;
  width: initial;
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px;
  background-color: var(--content-background);
}

.footer-right {
  text-align: right;
  margin-bottom: 0px;
  margin-right: 15px;
  font-size: 10pt;
}