/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-body {
  background-image: url("assets/boxed-bg.jpg");
  background-attachment:fixed;
}

/* Styling variables */
:root {
  --sidenav-text-color: lightgray;
  --sidenav-hover-text-color: ghostwhite;
  --sidenav-background: #222d32;
  --sidenav-hover-background: #465c66;
  --sidenav-header-background: steelblue;
  --sidenav-header-hover-background: #3b6080;
  --content-backdrop: #ecf0f5;
  --content-background: #fff;
  --sidenav-expanded-width: 150px;
  --sidenav-contracted-width: 55px;
  --header-height: 64px;
}

/* Generic styling for an item with content. Should be used on mat-card's */
.content-item {
  background-color: var(--content-background);
  margin: 15px;
  width: initial;
}

.page-title {
  margin: 15px;
  width: initial;
}

/* Footer stuff */
.footer {
  /* This would be if we want it always visible (which we don't)
  position: absolute; */
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px;
  background-color: var(--content-background);
}

.footer-right {
  text-align: right;
  margin-bottom: 0px;
  margin-right: 15px;
  font-size: 10pt;
}

/* Custom Datepicker stuff */
.bs-datepicker-body table td.week span 
{
  color: yellowgreen !important; 
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover 
{
  background-color: var(--sidenav-header-background) !important; 
}

.cc-table {
  outline: 1px solid lightgrey;
}