/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@mixin mat-ripple-theme($theme) {
  .mat-ripple-element {
    background-color: rgba(255, 255, 255, .4);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-body {
  /* background-image: url("https://images.containerstore.com/catalogimages/382812/10079756-Wrap-Graphic-Colorful-Dots-.jpg"); */
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7483a92d-f396-4baa-84a1-405981a6fae3/d2fhg31-c142b70a-1520-41b1-8484-77fedff95fc5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc0ODNhOTJkLWYzOTYtNGJhYS04NGExLTQwNTk4MWE2ZmFlM1wvZDJmaGczMS1jMTQyYjcwYS0xNTIwLTQxYjEtODQ4NC03N2ZlZGZmOTVmYzUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.NplcPagvj2jQOlLAKEXQN5BuunT2KIABqREgAqsTyaI");
}

.main-app {
  width: 75%;
  margin: auto;

}

:root {
  --sidenav-text-color: ghostwhite;
  --sidenav-header-background: steelblue;
  --content-backdrop: #ecf0f5;
  --content-background: ghostwhite;
  --sidenav-expanded-width: 150px;
  --sidenav-contracted-width: 50px;
}

.content-item {
  background-color: var(--content-background);
  margin: 15px;
  width: initial;
}