<p *ngIf="!account"><em>Loading...</em></p>
<h1 *ngIf="account" class="page-title"> {{account.FirstName}} {{account.LastName}} <span *ngIf="account.PhoneNumber && account.PhoneNumber != null && account.PhoneNumber.length > 0">({{account.PhoneNumber}})</span></h1>

<!-- TODO: Now that we can get here from the TransactionRegister, back shouldn't always go to /accounts 
            Going to need to be clever here (maybe get passed something in the url?)
-->
<button mat-stroked-button color="primary" class="my-but" routerLink="/accounts">Back</button>

<button mat-stroked-button color="primary" class="my-but" (click)="thing()">Test!</button>

<button *ngIf="account" routerLink="/transaction-register/{{account.Id}}" mat-stroked-button color="primary" class="my-but">Make Transaction With This Account!</button><br><br>


<mat-card *ngIf="account" class="content-item">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="General">
      I'm a General Tab
    </mat-tab>

    <mat-tab label="Transaction History">
      <app-account-transaction-history [account]="account">
      </app-account-transaction-history>
    </mat-tab>

    <mat-tab label="Notes">
      I'm a notes tab
    </mat-tab>
  </mat-tab-group>
</mat-card>
