table {
    width: 100%;
    overflow: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.my-row:hover {
  background-color: lightgrey;
  position: relative;
}

/*
Don't want the table to be clickable, so don't do this
.my-row:active {
  background-color: slategrey;
}
*/

.detail-row {
  background-color: gainsboro;
}

.expanded-element {
  background-color: gray;
}

.my-butt:hover {
  background-color: slategrey;
}

.my-but {
    display: inline-block;
    width: auto;
}

.mat-row {
    height: auto;
  }

.my-row {
  cursor: pointer;
}

.my-row:hover {
  background: whitesmoke;
}

.depressed {
  box-shadow: 0px 0px 10px 1px inset rgba(0, 0, 0, 0.2)
}

.cc-table-row:hover {
  background-color: gainsboro;
}

.cc-table-row:nth-child(4n){
  background-color:white;
}

.cc-table-row:nth-child(4n + 2){
  background-color:whitesmoke;
}

.header-row {
  min-height: 30px;
  height: 30px;
}

.header-cell {
  min-height: 30px;
  height: 30px;
}


/*
.my-row.expanded {
  border-bottom-color: transparent;
}
*/