<h1 id="tableLabel">Single Account View</h1>

<p *ngIf="!account"><em>Loading...</em></p>
<h2 *ngIf="account"> {{account.FirstName}} {{account.LastName}} <span *ngIf="account.PhoneNumber && account.PhoneNumber != null && account.PhoneNumber.length > 0">({{account.PhoneNumber}})</span></h2>

<!-- TODO: Now that we can get here from the TransactionRegister, back shouldn't always go to /accounts 
            Going to need to be clever here (maybe get passed something in the url?)
-->
<button mat-stroked-button color="primary" class="my-but" routerLink="/accounts">Back</button>

<button mat-stroked-button color="primary" class="my-but" (click)="thing()">Test!</button>

<button *ngIf="account" routerLink="/transaction-register/{{account.Id}}" mat-stroked-button color="primary" class="my-but">Make Transaction With This Account!</button><br><br>

<div
  matRipple
  [matRippleUnbounded]=true
  [matRippleRadius]="'10'"
  [matRippleColor]="'pink'">

  <!-- TODO: Reorganize these to look more like ATH. Maybe add some links? -->
  <table mat-table [dataSource]="transactionTableSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.Amount | currency}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.TransactionType.Name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.Date | date:short}} </td>
      </ng-container>

      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Running Total </th>
        <td mat-cell *matCellDef="let element"> {{element.NewTotal | currency}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="my-row"></tr>
  </table><br>
</div>
