table {
    width: 100%;
    overflow: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.my-row:hover {
  background-color: lightgrey;
  position: relative;
}

/*
Don't want the table to be clickable, so don't do this
.my-row:active {
  background-color: slategrey;
}
*/

.expanded-element {
  background-color: gray;
}

.my-butt:hover {
  background-color: slategrey;
}

.my-but {
    display: inline-block;
    width: auto;
}

.mat-row {
    height: auto;
  }
  
.mat-cell {
  padding: 8px 8px 8px 0;
}

.my-row:not(.expanded) {
  cursor: pointer;
}

.my-row:not(.expanded):hover {
  background: #f5f5f5;
}

.my-row.expanded {
  border-bottom-color: transparent;
}