<!-- <div *ngIf="tranTotals"> -->

<div class="chart-container" *ngIf="showCoolPieChart">
  <ngx-charts-advanced-pie-chart
    [view]="dimensions"
    [scheme]="colorScheme"
    [gradient]="true"
    [valueFormatting]="dollarValueFormat"
    [results]="tranTotals"
    >
  </ngx-charts-advanced-pie-chart>
</div>

<div class="chart-container" *ngIf="!showCoolPieChart">
  <ngx-charts-pie-chart
    [view]="dimensions"
    [scheme]="colorScheme"
    [results]="tranTotals"
    [gradient]="false"
    [legend]="false"
    [labels]="true"
    [doughnut]="true"
    >
  </ngx-charts-pie-chart>
</div>
