table {
    width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/*
.my-row:hover {

}

.my-row:active {

}

.my-butt:hover {

}
*/

.my-row {
    height: auto;
}
  
.my-cell {
  padding: 0px 0px 0px 0;
}

.highlight:hover {
  background-color: lightgrey !important;
}

.highlight:active {
  background-color: slategrey;
}

.mat-row:nth-child(even){
  background-color:white;
}

.mat-row:nth-child(odd){
  background-color:whitesmoke;
}

.acct-table {
  outline: 1px solid lightgrey;
}

.acct-table-container {
  padding: 10px;
}