<h1 class="page-title">Register Wizard</h1>

<button matTooltip="Testing. 1, 2, 3." mat-stroked-button color="primary" (click)="thing()">Testing</button>

<!-- TODO: Give them a date picker here. Disallow choosing a date on or prior to last transaction in the ath-->
<mat-card class="content-item">
    <form [formGroup]="tranForm" (ngSubmit)="onSubmit()">
    <mat-vertical-stepper [linear]="true" #stepper>

        <mat-step [stepControl]="tranForm.get('tranAcctForm')">
            <ng-template matStepLabel>Select Account 
                <span *ngIf="selectedAccount">
                    ({{selectedAccount.FirstName}} {{selectedAccount.LastName}})
                </span>
            </ng-template>

            <div>
                <app-account-selection [formGroup]="tranForm.get('tranAcctForm')"></app-account-selection>
            </div>
        </mat-step>

        <mat-step [stepControl]="tranForm.get('tranDetailsForm')">
          <ng-template matStepLabel>Enter Transaction Details</ng-template>
            <div>
                <app-transaction-details-input [formGroup]="tranForm.get('tranDetailsForm')" [account]="selectedAccount"></app-transaction-details-input>
            </div>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button" [disabled]="tranForm.invalid">Next</button>
            </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Review</ng-template>
          <div>
            <app-transaction-review [formGroup]="tranForm"></app-transaction-review>
          </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button type="submit" [disabled]="!tranForm.valid">Submit</button>
          </div>
        </mat-step>

    </mat-vertical-stepper>
    </form>
</mat-card>
