<p>transaction-register works!</p>
<br><br>
<p>Got an id of {{id}}</p>

<button mat-stroked-button color="primary" (click)="thing()">Testing</button>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput
             placeholder="Account"
             aria-label="Account"
             required
             [matAutocomplete]="auto"
             [formControl]="acctCtrl"
             >
             <!--
             [(ngModel)]="selectedAccount">
             -->
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="acctToString">
        <mat-option *ngFor="let acct of filteredAccounts | async" [value]="acct">
        <!--
        <mat-option *ngFor="let acct of filteredAccounts | async" [value]="acct.FirstName + ' ' + acct.LastName">
        -->
            <div class="acct-row">
              <span class="name-col">{{acct.FirstName}} {{acct.LastName}}</span>
              <!-- Stick an invisible character in here in case phone number is empty-->
              <span class="phone-col"> &zwnj; {{acct.PhoneNumber}} </span>
              <span class="total-col"> $5.00 </span>
              <!--
              <span class="phone-col" *ngIf="acct.PhoneNumber && acct.PhoneNumber.length > 0"> | {{acct.PhoneNumber}}</span>
              -->
            </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <a *ngIf="isAccount(this.acctCtrl.value)" [routerLink]="'/a/' + this.acctCtrl.value.Id">
        <button mat-stroked-button color="primary" class="my-but">View Account History</button>
    </a>

    <br><br>
  
    <br>
</form>