<p>transaction-register works!</p>
<br><br>
<p>Got an id of {{id}}</p>

<button matTooltip="Testing. 1, 2, 3." mat-stroked-button color="primary" (click)="thing()">Testing</button>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput
             placeholder="Account"
             aria-label="Account"
             required
             [matAutocomplete]="auto"
             [formControl]="acctCtrl"
             #acctAutoComplete="matAutocompleteTrigger"
             >
             <!--
             [(ngModel)]="selectedAccount">
             -->
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="acctToString">
        <mat-option *ngFor="let acct of filteredAccounts | async" [value]="acct" (click)="acctCtrl.disable()">
        <!--
        <mat-option *ngFor="let acct of filteredAccounts | async" [value]="acct.FirstName + ' ' + acct.LastName">
        -->
            <div class="acct-row">
              <span class="name-col">{{acct.FirstName}} {{acct.LastName}}</span>
              <!-- Stick an invisible character in here in case phone number is empty-->
              <span class="phone-col"> &zwnj; {{acct.PhoneNumber}} </span>
              <span class="total-col"> $5.00 </span>
              <!--
              <span class="phone-col" *ngIf="acct.PhoneNumber && acct.PhoneNumber.length > 0"> | {{acct.PhoneNumber}}</span>
              -->
            </div>
        </mat-option>
      </mat-autocomplete>
      <!--
    <a *ngIf="isAccount(this.acctCtrl.value)" [routerLink]="'/a/' + this.acctCtrl.value.Id">
        (click)="clearSelection(); acctAutoComplete.openPanel()">
        [routerLink]="'/a/' + this.acctCtrl.value.Id"
    -->
    <button mat-icon-button
        *ngIf="isAccount(this.acctCtrl.value)"
        mat-stroked-button
        matSuffix
        matTooltip="Clear Selection"
        color="primary"
        class="icon-but"
        (click)="clearSelection()">
        <mat-icon aria-hidden="false" aria-label="Clear Selection">clear</mat-icon>
    </button>
    <button mat-icon-button
        *ngIf="isAccount(this.acctCtrl.value)"
        (click)="openAccount()"
        mat-stroked-button
        matSuffix
        matTooltip="View Account in New Tab"
        color="primary"
        class="icon-but">
        <mat-icon aria-hidden="false" aria-label="View Account">launch</mat-icon>
    </button>

    </mat-form-field>


    <br><br>
  
    <br>
</form>