<h1 class="page-title">Dashboard</h1>

<mat-card class="content-item">
  <h6 class="card-title">Date Range Selection</h6>
  <mat-divider></mat-divider>
  <div class="row date-selection">
    <div>
      <span class="from-to-text"> From </span>
      <mat-form-field class="date-input">
        <mat-label>Start date</mat-label>
        <input
          matInput
          [max]="dateRange[1]"
          [matDatepicker]="startDatePicker"
          [formControl]="startDateCtrl"
          (dateChange)="dateChange($event.value, 0)"
          (click)="startDatePicker.open()">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #startDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <span class="from-to-text"> to </span>
      <mat-form-field class="date-input">
        <mat-label>End date</mat-label>
        <input
          matInput
          [min]="dateRange[0]"
          [matDatepicker]="endDatePicker"
          [formControl]="endDateCtrl"
          (dateChange)="dateChange($event.value, 1)"
          (click)="endDatePicker.open()">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <button mat-stroked-button matSuffix color="primary" class="btn refresh-btn" (click)="refresh()">Refresh Data</button>
  </div>
</mat-card>

<div class="dash-content">
  
  <mat-card class="content-item">
    <h6 class="card-title">Totals by Transaction</h6>
    <mat-divider></mat-divider>
    <div class="row tran-type-totals-div">
      <app-tran-type-pie-chart
          [dateRange]="dateRange"
          [colorScheme]="colorScheme"
          class="tran-type-totals-component">
      </app-tran-type-pie-chart>
    </div>
  </mat-card>
  
  <mat-card class="content-item">
    <h6 class="card-title">Total Transaction Amount History</h6>
    <mat-divider></mat-divider>
    <div class="row line-graph-div">
      <app-tran-history-line-graph
          [dateRange]="dateRange"
          [colorScheme]="colorScheme"
          class="line-graph-component">
      </app-tran-history-line-graph>
    </div>
  </mat-card>
  
  <mat-card class="content-item">
    <h6 class="card-title">Totals by Weekday</h6>
    <mat-divider></mat-divider>
    <div class="row day-totals-div">
      <app-daily-averages
          [dateRange]="dateRange"
          [colorScheme]="colorScheme"
          class="day-totals-div">
      </app-daily-averages>
    </div>
  </mat-card>

</div>