<p>pitest works!</p>

<mat-form-field>
  <mat-label>Start Date</mat-label>
  <input matInput [matDatepicker]="dps" [formControl]="startDate">
  <mat-datepicker-toggle matSuffix [for]="dps"></mat-datepicker-toggle>
  <mat-datepicker #dps
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dps)"
                  (daySelected)="chosenDayHandler($event, dps)"
                  panelClass="example-month-picker"
                  >
  </mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>End Date</mat-label>
  <input matInput [matDatepicker]="dp" [formControl]="endDate">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  (daySelected)="chosenDayHandler($event, dp)"
                  panelClass="example-month-picker"
                  >
  </mat-datepicker>
</mat-form-field>

<button mat-stroked-button color="primary" (click)="thing()">Testing</button>

<mat-radio-group aria-label="Group data by..." [(ngModel)]="moneyGraphGroupBy" (click)="groupByChanged($event)">
  <mat-radio-button value="Day">Day</mat-radio-button>
  <mat-radio-button value="Week">Week</mat-radio-button>
  <mat-radio-button value="Month">Month</mat-radio-button>
</mat-radio-group>

<ngx-charts-advanced-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  >
</ngx-charts-advanced-pie-chart>

<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="'true'"
  [showXAxisLabel]="'true'"
  [showYAxisLabel]="'true'"
  [xAxis]="'true'"
  [yAxis]="'true'"
  [xAxisLabel]="'Month'"
  [yAxisLabel]="'Amount ($)'"
  [timeline]="'true'"
  [results]="moneyGraphGroupBy === 'Day' ? moneyDataByDay : moneyGraphGroupBy === 'Week' ? moneyDataByWeek : moneyDataByMonth"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart>

<!--
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="'true'"
  [showXAxisLabel]="'true'"
  [showYAxisLabel]="'true'"
  [xAxis]="'true'"
  [yAxis]="'true'"
  [xAxisLabel]="'Month'"
  [yAxisLabel]="'Amount ($)'"
  [timeline]="'true'"
  [results]="lineData"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart>
-->