<div *ngIf="!currentUser">
  <app-loading-screen class="loading-screen"></app-loading-screen>

  <!-- Still need a router outlet here so that components are loaded/stuff gets redirected -->
  <div style="visibility: hidden;">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>

<div *ngIf="currentUser" class="main-app mat-elevation-z8">
  <app-side-nav [CurrentUser]="currentUser" [MinSideNavWidth]="smallestSize">
    <router-outlet #outlet="outlet"></router-outlet>
  </app-side-nav>
</div>
