<!-- Toolbar -->
<mat-toolbar color="primary" class="header main-toolbar">
  <div [ngClass]="sideNavExpanded ? 'header-content-expanded' : 'header-content-contracted'">
    <!-- <div>Credit Cache</div> -->
    <span class="nav-tool-items">
      <mat-icon (click)="toggleSideNavSize()" class="hamburger">menu</mat-icon>
    </span>
  </div>
</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav-container>
  <!--
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'push'" [(opened)]="sideNavOpened" [fixedInViewport]="true"
    [fixedTopGap]>
  -->
  <mat-sidenav
    #sidenav
    [mode]="'side'"
    [(opened)]="sideNavOpened"
    [fixedInViewport]="true"
    class="main-sidenav"
    [@sideNavAnimation]="sideNavExpanded ? 'expanded' : 'contracted'"
    [fixedTopGap]>

    <mat-toolbar class="sidenav-header">
      <span class="sidenav-item" *ngIf="sideNavExpanded">Credit Cache</span>
      <span class="sidenav-item" *ngIf="!sideNavExpanded">CC</span>
    </mat-toolbar>
    <mat-nav-list>
      <!--TODO: Remember that this will only be for non-mobile. Once the screen size gets
                reasonably tiny, we'll need to switch to a "push" sidenav that actually closes.
                Essentially, this all needs to be made responsive. Bleh.
      -->
      <a [routerLink]="['/']" (click)="closeSideNav()" mat-list-item>
        <mat-icon class="sidenav-item">dashboard</mat-icon> <span class="sidenav-item" *ngIf="sideNavExpanded">Dashboard</span>
      </a>
      <a [routerLink]="['/accounts']" (click)="closeSideNav()" mat-list-item>
        <mat-icon class="sidenav-item">person</mat-icon> <span class="sidenav-item" *ngIf="sideNavExpanded">Accounts</span>
      </a>
      <a [routerLink]="['/transactions']" (click)="closeSideNav()" mat-list-item>
        <mat-icon class="sidenav-item">library_books</mat-icon> <span class="sidenav-item" *ngIf="sideNavExpanded">Transactions</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content [ngClass]="sideNavExpanded ? 'main-content-expanded' : 'main-content-contracted'" class="main-content">

    <!-- Works, but not in sidenav for some reason :/ -->
    <!-- <div [@routeAnimations]="prepareRoute(outlet)" > -->
    <router-outlet #outlet="outlet"></router-outlet>
    <!-- </div> -->

  </mat-sidenav-content>

</mat-sidenav-container>
