.header-content {
}

.main-toolbar {
    background-color: var(--sidenav-header-background);
}

.main-sidenav {
    background-color: var(--sidenav-background);
}

.nav-icon {
    margin-right: 5px;
}

.sidenav-item, .sidenav-item svg {
    color: var(--sidenav-text-color);
    background-color: var(--sidenav-background);
}

.sidenav-item:hover, .sidenav-item:hover svg, .active-sidenav-item:hover, .active-sidenav-item:hover svg {
    color: var(--sidenav-hover-text-color);
    background-color: var(--sidenav-hover-background);
}

/* TODO: Might want to do something different for chosen item */
.active-sidenav-item, .active-sidenav-item svg, .active-sidenav-item:focus, .active-sidenav-item:focus svg {
    color: var(--sidenav-hover-text-color);
    background-color: var(--sidenav-hover-background);
}

.sidenav-header {
    color: var(--sidenav-hover-text-color);
    background-color: var(--sidenav-header-background);
}

.main-content {
    background-color: var(--content-backdrop);
}


.header-content-contracted {
    padding-left: calc(var(--sidenav-contracted-width) - 16px);
}

.header-content-expanded {
    padding-left: calc(var(--sidenav-expanded-width) - 16px) !important;
} 

.main-content-contracted {
    margin-left: var(--sidenav-contracted-width) !important;
}

.main-content-expanded {
    margin-left: var(--sidenav-expanded-width);
}


.nav-tool-items {
    cursor: pointer;
    height: 100%;
    padding: 16px;
    display: block;
}

.nav-tool-items-butt:hover {
    background-color: var(--sidenav-header-hover-background);
}