<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    [mode]="isBiggerScreen() ? 'side' : 'push'"
    [opened]="responsiveManager.isSideNavOpened"
    [fixedInViewport]="true"
    class="main-sidenav"
    [@sideNavAnimation]="responsiveManager.isSideNavExpanded ? 'expanded' : 'contracted'"
    [fixedTopGap]="'0'"
    [fixedBottomGap]="'0'"
    (closedStart)="closeSideNavEvent()"
    >
    <app-navigation [MinSideNavWidth]="MinSideNavWidth"></app-navigation>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="!responsiveManager.isSideNavOpened ? 'main-content-full' : responsiveManager.isSideNavExpanded ? 'main-content-expanded' : 'main-content-contracted'" class="main-content">
    <!-- Toolbar -->
    <app-nav-toolbar [CurrentUser]="CurrentUser" [MinSideNavWidth]="MinSideNavWidth"></app-nav-toolbar>
    <!-- Main content -->
    <app-nav-content>
        <ng-content></ng-content>
    </app-nav-content>
  </mat-sidenav-content>
</mat-sidenav-container>