<div class="group-by-options">
  <!--
  <span>Show data point for each: </span>
  -->
  <span>Data by: </span>
  <mat-radio-group aria-label="Group data by..." [(ngModel)]="moneyGraphGroupBy" (click)="groupByChanged($event)">
    <mat-radio-button value="Day" class="radio-btn">Day</mat-radio-button>
    <mat-radio-button value="Week" class="radio-btn">Week</mat-radio-button>
    <mat-radio-button value="Month" class="radio-btn">Month</mat-radio-button>
  </mat-radio-group>
</div>

<div class="chart-container">
  <ngx-charts-line-chart
    [scheme]="colorScheme"
    [legend]="showLegend"
    [showXAxisLabel]="showAxes"
    [showYAxisLabel]="showAxes"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="'Month'"
    [yAxisLabel]="'Amount ($)'"
    [timeline]="showTimeline"
    [results]="moneyGraphGroupBy === 'Day' ? moneyDataByDay : moneyGraphGroupBy === 'Week' ? moneyDataByWeek : moneyDataByMonth"
    (select)="onSelect($event)"
    >
  </ngx-charts-line-chart>
</div>
