<div class="group-by-options">
  <span>Show data point for each: </span>
  <mat-radio-group aria-label="Group data by..." [(ngModel)]="moneyGraphGroupBy" (click)="groupByChanged($event)">
    <mat-radio-button value="Day" class="radio-btn">Day</mat-radio-button>
    <mat-radio-button value="Week" class="radio-btn">Week</mat-radio-button>
    <mat-radio-button value="Month" class="radio-btn">Month</mat-radio-button>
  </mat-radio-group>
</div>

<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="'true'"
  [showXAxisLabel]="'true'"
  [showYAxisLabel]="'true'"
  [xAxis]="'true'"
  [yAxis]="'true'"
  [xAxisLabel]="'Month'"
  [yAxisLabel]="'Amount ($)'"
  [timeline]="'true'"
  [results]="moneyGraphGroupBy === 'Day' ? moneyDataByDay : moneyGraphGroupBy === 'Week' ? moneyDataByWeek : moneyDataByMonth"
  (select)="onSelect($event)"
  >
</ngx-charts-line-chart>